absl-py
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
async-lru
attrs
Babel
beautifulsoup4
bleach
blinker
cachetools
certifi
cffi
charset-normalizer
click
cmake
colorama
comm
contourpy
cycler
debugpy
decorator
defusedxml
distlib
dlib
dm-tree
easydict
executing
fastjsonschema
filelock
Flask
Flask-Cors
flatbuffers
fonttools
fqdn
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
ipykernel
ipython
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-widgets
jupyterlab_pygments
jupyterlab_server
keras
keras-layer-normalization
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
ml-dtypes
namex
nbclient
nbconvert
nbformat
nest-asyncio
node
notebook
notebook_shim
numpy
oauthlib
odict
opencv-contrib-python.80
opencv-python.72
opencv-python-headless.80
opt-einsum
overrides
packaging
pandas
pandocfilters
parso
pillow
platformdirs
plumber
prometheus-client
prompt-toolkit
protobuf
psutil
pure-eval
pyasn1
pyasn1-modules
pycparser
Pygments
pyparsing
python-dateutil
python-json-logger
pytz
pywin32
pywinpty
PyYAML
pyzmq
qtconsole
QtPy
referencing
requests
requests-oauthlib
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
scipy
Send2Trash
six
sniffio
soupsieve
stack-data
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
terminado
tifffile
tinycss2
tornado
tqdm
traitlets
types-python-dateutil
typing_extensions
tzdata
uri-template
urllib3
virtualenv
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
widgetsnbextension
wrapt
zope.component
zope.deferredimport
zope.deprecation
zope.event
zope.hookable
zope.interface
zope.lifecycleevent
zope.proxy
